<!DOCTYPE html>
<html lang="en">

<head>
 <!-- <title>AI Research Helper</title> -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{#	<link rel="stylesheet" href="/static/assets/vendor/bootstrap/css/bootstrap.min.css">#}
	<link rel="stylesheet" href="/static/assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/assets/vendor/linearicons/style.css">
	<link rel="stylesheet" href="/static/assets/vendor/chartist/css/chartist-custom.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="/static/assets/css/main.css">
	<link rel="stylesheet" href="/static/assets/css/ai_res_custom.css">
    <link rel="stylesheet" href="/static/assets/css/design.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="/static/assets/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/static/assets/img/favicon.png">
	<!--<link rel="stylesheet" href="../assets/css/design.css">-->

	        <!-- CORE CSS FRAMEWORK - START -->
        <link href="/static/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen"/>
        <link href="/static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="/static/assets/plugins/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>

        <link href="/static/assets/plugins/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" type="text/css"/>
        <!-- CORE CSS FRAMEWORK - END -->
{##}
{#        <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->#}
{#        <link href="/static/assets/plugins/morris-chart/css/morris.css" rel="stylesheet" type="text/css" media="screen"/>#}
{#		<link href="/static/assets/plugins/jquery-ui/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" media="screen"/>#}
{#		<link href="/static/assets/plugins/rickshaw-chart/css/graph.css" rel="stylesheet" type="text/css" media="screen"/>#}
{#		<link href="/static/assets/plugins/rickshaw-chart/css/detail.css" rel="stylesheet" type="text/css" media="screen"/>#}
{#		<link href="/static/assets/plugins/rickshaw-chart/css/legend.css" rel="stylesheet" type="text/css" media="screen"/>#}
{#		<link href="/static/assets/plugins/rickshaw-chart/css/extensions.css" rel="stylesheet" type="text/css" media="screen"/>#}
{#		<link href="/static/assets/plugins/rickshaw-chart/css/rickshaw.min.css" rel="stylesheet" type="text/css" media="screen"/>#}
{#		<link href="/static/assets/plugins/rickshaw-chart/css/lines.css" rel="stylesheet" type="text/css" media="screen"/>#}
{#		<link href="/static/assets/plugins/jvectormap/jquery-jvectormap-2.0.1.css" rel="stylesheet" type="text/css" media="screen"/>#}
{#		<link href="/static/assets/plugins/icheck/skins/minimal/white.css" rel="stylesheet" type="text/css" media="screen"/>#}

    <title>Models Status</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>

    <div id="wrapper">

        {% include "navbar.html"%}
        {% include "sidebar.html"%}


        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="main-content">
                <div id="overview">
                    <!--<div id="content">-->
                        <p>Please wait while we check models training status<br/></p>
                        <table id="model_container" class="table table-bordered">
                            <tr>
                                <th> Model Name</th>
                                <th> Processing Status</th>
                                <th> Created On</th>
                            </tr>
                            <tbody id="table_body">
                            <!--{% for row in status %}
                            <tr> <td> {{row}} </td> <td> {{status[row]}} </td> </tr>
                            {% endfor %}-->
                            </tbody>

                        </table>
                        <!--p>Job ID for topic {{topic_name}}: <span id="jobId">{{job_ID}}</span><br/></p>
                        <p id="status">Status: Queued</p-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
    	(function poll() {
		    $.ajax({
		        url: "/get_status",//?job_id="+$("#jobId").text(),
		        type: "GET",
		        success: function(status_json) {
							console.log("*-*-*-* " + status_json)
		          for (var key = 0; key < status_json.length; key++){
								var processing_status_cell = document.getElementById(status_json[key][0]);
								console.log(" This is the status" + processing_status_cell)
		            processing_status_cell.innerHTML = status_json[key][1];
								console.log(" what gets posted" + status_json[key][1])
							}
						},
		        dataType: "json",
		        complete: setTimeout(function() {poll()}, 5000),
		        timeout: 2000
		    })
		})();
		</script>
		<script type="text/javascript">
		(function tableData(){
			$.ajax({
				url: "/get_status",
			    type: "GET",
			    success: function(status_json){
					for (var key = 0; key < status_json.length; key++){
		            	var table_body = document.getElementById("table_body");
		            	var row = table_body.insertRow();
		            	var c1 = row.insertCell(0);
		            	var c2 = row.insertCell	(1);
		            	var c3 = row.insertCell	(2);

		            	c1.innerHTML = status_json[key][0];
		            	c2.id = status_json[key][0];
		            	c2.innerHTML = status_json[key][1];
		            	c3.innerHTML = status_json[key][2];
			        }
				},
				dataType: "json"
			})
		})();
    </script>
</body>
