<!-- NAVBAR -->
<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand" style="padding: 8px 20px">
                <a href="/"><h2>AI Research Helper</h2></a>
			</div>

		</nav>


<!-- END NAVBAR -->



<!--<div class="row border-bottom">-->
    <!--<nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">-->
        <!--<div class="navbar-header">-->
            <!--<a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#"><i class="fa fa-bars"></i>-->
            <!--</a>-->
        <!--</div>-->
        <!--<ul class="nav navbar-top-links navbar-right">-->
            <!--<li>-->
                <!--<span class="m-r-sm text-muted welcome-message">Welcome to AI Research Helper</span>-->
            <!--</li>-->

        <!--</ul>-->
    <!--</nav>-->
<!--</div>-->
