<!-- LEFT SIDEBAR -->
<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav id="sidebar-list">
            <ul class="nav" >
                <li><a href="/GenerateDataCollection"> <span>Model Definition</span></a></li>
                <li><a href="/ModelsStatus"> <span>Models Status</span></a></li>
                <li><a href="/GenerateSummary"> <span>Model Application</span></a></li>
                <li><a href="/SummariesStatus"> <span>Results</span></a></li>
            </ul>
        </nav>

    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var url = window.location;
        alert(url)
        $('nav a[href="'+ url +'"]').parent().addClass('active');
        $('nav a').filter(function() {
             return this.href == url;
        }).parent().addClass('active');
    });
</script> 